:root {
    --Sniglet-font: "Sniglet", cursive;
    --Rubik: "Rubik", cursive;
    --Patua: "Patua One", cursive;
    --Lobster: "lobster", cursive;
    --light-black: #2e2c2caf;
    --bggradient: linear-gradient(to bottom, #e63e1c, #c71062);
    --light-gray: rgba(255, 255, 255, 0.877);
}

main {
    background: var(--bggradient);
    padding-top: 5%;
    padding-bottom: 5%;
}

.form-container {
    background: whitesmoke;
    font-family: var(--Sniglet-font);
    font-size: 1em;
    color: black;
    text-align: center;
    padding: 30px 50px;
    -webkit-box-shadow: 10px 2px 14px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 2px 14px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 2px 14px 0px rgba(0, 0, 0, 0.75);
}

.btn-login {
    background: rgb(59, 59, 250);
    color: black;
    font-family: var(--Rubik);
}

.p1 {
    font-size: 100px;
}

.signin {
    padding: 15px;
    color: black;
    font-family: var(--Rubik);
}